/Praktikum2/nbproject/private/
/Praktikum2/DeretBilangan/nbproject/private/
/Praktikum2/Praktikum2/nbproject/private/
/Praktikum2/CobaDeretBilangan/nbproject/private/
/Praktikum2/DeretBilangan/build/
/Praktikum2/JavaApplication10/nbproject/private/
/Praktikum2/JavaApplication11/nbproject/private/